/* Navbar */

.cart-container {
  font-family: "Poppins", sans-serif;
}
.cart-container .navbar {
  border-bottom: 1px solid grey !important;
  box-shadow: 0px 0px 40px black;
}
.cart-container .navbar .items .link {
  color: black !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0 !important;
  height: 100%;
  cursor: pointer !important;
}

.cart-container .navbar .items button.link {
  height: 40px;
  width: 100px;
  background-color: #dc3545;
  color: white !important;
  border: none;
  border-radius: 5px;
}

.cart-container .navbar .items button.link:hover {
  background-color: #ff3030 !important;
}

/* Cart */

.flex {
  margin: 20px auto;
  width: 90rem;
  height: auto;
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
  flex-wrap: wrap;
}

.cart-container .title {
  text-align: center;
  margin-bottom: 1rem;
}

.cart-container .title h3 {
  font-size: 30px;
}

.cart-container .title p {
  font-size: 20px;
}

.cart-container .cart table {
  width: 60rem;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
  margin-right: 1rem;
}

.cart-container .cart table tr th {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
  height: auto;
}

.cart-container .cart table tr td {
  margin-top: 1rem;
  border-bottom: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  padding: 10px 0;
}

.cart-container .cart table .line .about p {
  font-weight: bold;
}

.cart-container .cart table .line .about img {
  border-radius: 5px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  height: 70px;
}

.cart-container .cart table .btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.cart-container .cart table .btns button {
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.cart-container .cart table .btns button:first-child {
  background-color: #f22c00;
}

.cart-container .cart table .btns button:last-child {
  background-color: #04f700;
}

.cart-container .cart table .btns span {
  font-size: 18px;
}

.cart-container .cart table .right-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cart-container .cart table .right-btns button {
  background: none;
  border-radius: 3px;
  border: 1px solid lightgrey;
  cursor: pointer;
  height: 40px;
  padding: 0 10px;
}

.cart-container .cart table tfoot {
  text-align: left;
}
.cart-container .cart table tfoot button {
  height: 50px;
  padding: 0 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.8 ease all;
  background-color: white;
  border: 1px solid lightgrey;
}

.cart-container .cart table tfoot button i {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
  color: black;
}

/* Empty Cart */

.empty-cart {
  text-align: center;
  margin-top: 1rem;
  font-size: 30px;
}

/* Total */
.coupon-total {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  margin-right: 1rem;
}

.coupon-total .coupon {
  padding: 20px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.coupon-total .coupon form {
  width: 100%;
}
.coupon-total .coupon p {
  font-size: 20px;
  margin-bottom: 1rem;
}

.coupon-total .coupon input {
  border: 1px solid lightgrey;
  height: 52px;
  width: 80%;
  border-radius: 10px 0 0 10px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0 10px;
}
.coupon-total .coupon button {
  border: none;
  height: 52px;
  border-radius: 0 10px 10px 0;
  font-size: 18px;
  background-color: #3167eb;
  color: white;
  cursor: pointer;
  width: 20%;
}

.coupon-total .total {
  line-height: 40px;
  border-radius: 10px;
  margin-top: 2rem;
  padding: 20px;
  border: 1px solid lightgrey;
}

.coupon-total .total .total-select {
  border-top: 1px solid lightgrey;
}

.coupon-total .total .total-select button {
  height: 50px;
  border: none;
  width: 100%;
  margin-top: 1rem;
  border-radius: 10px;
  font-size: 20px;
  background-color: #ccf0d1;
  background-color: #3167eb;
  cursor: pointer;
  color: white;
  transition: 0.8s ease all;
}

/* responsive */

@media only screen and (max-width: 1440px) {
  .flex {
    width: 100%;
  }
  .cart-container .cart table {
    width: 50rem;
  }

  .coupon-total {
    padding: 0 20px;
    width: 50rem;
    margin: 3rem auto;
  }
}

@media only screen and (max-width: 1300px) {
  .cart-container .navbar {
    height: auto;
    padding: 0 0 10px 0;
  }

  .cart-container .navbar .items {
    width: 100%;
  }
  .cart-container .navbar .items .item .link {
    text-align: center;
    height: auto;
    padding: 10px !important;
  }
}

@media only screen and(max-width:800px) {
  .cart-container .cart table {
    width: 30rem;
    margin: 0 auto;
  }
}

/* For very small */

@media only screen and(max-width:480px) {
  .cart-container .navbar .items .item .link {
    width: auto;
  }
  .cart-container .cart table {
    width: auto;
    margin: 0 auto;
  }

  .cart-container .cart table {
    font-size: 12px;
  }
  .cart-container .cart table .btns {
    flex-direction: column;
  }
  .cart-container .cart table .btns button {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cart-container .cart table .right-btns button {
    padding: 5px;
    margin-left: 10px;
  }
  .coupon-total {
    padding: 0 20px;
  }
}
