/* Navbar */

.contact-container .navbar {
  border-bottom: 1px solid lightgrey;
  box-shadow: 0px 0px 30px black;
}
.contact-container .navbar .items .link {
  color: black !important;
}

.contact-container .navbar .items .link:hover {
  color: black !important;
  background-color: white;
}

/* Contact */

.contact {
  margin: 3rem auto;
  width: 75rem;
  box-shadow: 0px 0px 10px lightgrey;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact .contact-information {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.contact-container .contact .contact-information .email {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.contact-container .contact .contact-information .phone-num,
.contact-container .contact .contact-information .email {
  width: 450px;
  height: 200px;
  box-shadow: 0 1px 10px lightgrey;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.contact-container .contact .contact-information .phone-num i,
.contact-container .contact .contact-information .email i {
  font-size: 40px;
  color: #f77701;
  display: block;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 3px solid #f77701;
}

.contact-container .contact .contact-information .phone-num p,
.contact-container .contact .contact-information .email p {
  font-size: 25px;
}

.contact-container .contact .contact-information .phone-num p.num,
.contact-container .contact .contact-information .email p.email-address {
  margin-top: 10px;
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  color: #1ca1db;
}

.contact-form {
  width: 600px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 10px lightgrey;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding: 0 1rem;
}
.contact-form h3 {
  font-size: 30px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #9b9999;
  text-align: center;
  font-family: "poppins", sans-serif;
}

.contact-form p {
  font-size: 18px;
  margin-bottom: 1rem;
}
.contact-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-form form textarea {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 150px;
  resize: none;
  border-radius: 10px;
  padding: 20px;
  font-size: 18px;
  border: 1px solid lightgrey;
  font-family: "poppins";
}
.contact-form form button {
  height: 50px;
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 20px;
  color: white;
  background-color: #5457ff;
  border: none;
  font-family: "poppins";
}

/* Responsive */

@media only screen and(max-width:1480px) {
  .contact {
    width: auto;
  }
}

/* For very small */

@media only screen and(max-width:480px) {
  .contact-container .contact .contact-information .phone-num,
  .contact-container .contact .contact-information .email {
    width: 100%;
    margin: 1rem auto;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    flex-wrap: wrap;
    word-break: break-all;
  }
}
